
.handjet-handjet {
  font-family: "Handjet", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

:root {
    --bg-color: #B5C2B7;
    --machine-color: #45364B;
    --button-color: #62466B;
    --screen-color: #8C93A8;
    ---border-color: #2D2327;
}

body {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Handjet;
    background-color: var(--bg-color);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 40%;
    border: 6px solid var(---border-color);
    border-radius: 1em;
    align-items: center;
    margin-top: 50px;
    background-color: var(--machine-color);
}

.screen {
    text-align: right;
    min-height: 80px;
    min-width: 90%;
    border: 3px solid var(---border-color);
    border-radius: 1em;
    margin: 1em;
    background-color: var(--screen-color);
}

.userInput {
    border: 1px solid black;
    height: 45%;
}

#answers,
#input {
    padding-right: 10px;
}

#input {
    font-size: 25px;
}

#answers {
    font-size: 40px;
}

.answer {
    border: 3px solid var(---border-color);
    height: 60%;
}

.numberButtons {
    width: 90%;
    min-height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    column-gap: 0.3em;
    row-gap: 0.3em;
    margin-bottom: 1em;
}

.numberButtons button {
    height: 3em;
    width: 100%;
    border-radius: 1em;
    font-family: Handjet;
    font-size: 20px;
    border: 3px solid var(---border-color);
    font-weight: 500;background-color: var(--button-color);
}

.numberButtons button:hover {
    border: 5px solid var(---border-color);
}